.bg-img {

  background-image: url("../Billeder/venus-navbar.jpg");
  max-width: 1600px;
  min-height: 150px;

 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  position: relative;
}


.container {
  position: absolute;
  margin: 20px;
  width: auto;
}


.topnav {
  text-align: center;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 30px;
  border: 8px solid black;
  margin: auto;
  padding: 10px;
}


.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 42px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bolder;
  font-family: sans-serif;
}

.topnav a:hover {
  background-color: yellow;
  color: black;
}
